/* IMPORTANT DATA




*/

/* BLANKET SITE SETTINGS */


body{
	background: lightgrey;
}
footer{
	width: 100%;
	background: #4c687d;
}
.mainBodyWrapper{
	padding: 0 5%;
}

/* HEADER */

	/* HEADER BACKGROUND */
		.banner{
			background: url(../resources/header_bar.png) no-repeat;
			background-size: 100% 100%;
			padding: 5%;
		}
		
	
	/* LOGO */
		.Logo{
			width: 90%;
			margin-top: 80px;
			margin-bottom: 10px;
		}
	
	/* MAIN NAVIGATION */
		.menuButton{
			position: absolute;
			top: 0;
			right: 0;
			width: 20%;
			z-index: 5000;
		}
		.menuButton img{
			width: 100%;
		}

		.mainNavUl{
			position: absolute;
			top: 0;
			left: 5%;
			width: 75%;
			list-style: none;
			background: rgba(0,47,91, 0.8);
			border-radius: 10px;
			padding-left: 0;
		}
		.mainNavUl li a{
			display: block;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
			color: white;
			text-decoration: none;
			border-radius: 10px;
		}
		.mainNavUl li a:hover{
			background: #2e518b;
		}

/* MAIN BODY */
	
	.slideshowimg{
		width: 100%;
	}
	.arrow{
		width: 10%;
		float: left;
	}
	.ssbanner h3{
		float: left;
		margin-top: 10px;
		margin-bottom: 0;
		width: 80%;
		text-align: center;
		color: white;
	}
	.ssbanner{
		background: rgb(0,47,91);
		padding: 2%;
	}
	.middle{
		margin-top: 10px;
		width: 100%;
	}
	.donations img{
		width: 100%;
	}
	.testimonial{
		width: ;
	}


/* FOOTER */

	.footerbottom p{
		color: white;
	}

	.footerbottom ul{
		list-style: none;
		padding: 0;
		margin-left: auto;
	}

	.footerbottom a{
		color: white;
		text-align: center;
	}

	/* FOOTER TOP HALF */
		.footerHat{
			background: url(../resources/footer_bar.png) no-repeat;
			background-size: 100% 100%;
			padding: 5% 5%;
		}
		.greenbutton{
			padding: 0 5%;
		}
		.greenbutton img{
			width: 90%;
		}

		.nlforms{
			margin-left: 5%;
		}

		.nlforms .nlinput{
			padding: 5px 0;
			width: 50%;
			margin-left: 20%;
			margin-top: 5px;
		}

		.submitbutton{
			width: 50%;
			height: 100%;
			margin-left: 20%;
			margin-top: 5px;
		}

	/* FOOTER BOTTOM HALF */
	
		.cr1{
			display: none;
		}
		.footerright{
			display: none;
		}

		/*SEARCH BAR*/
			.searchBar{
				width: 90%;
				margin: 0 5%;
			}
			.searchBar input{
				padding: 10px 0;
				width: 25%;
			}
			.searchBar input:first-child{
				width: 65%;
				padding-left: 10px;
			}

		/* ADDRESS */
			.address{
				margin-top: 10px;
			}
			.address p{
				color: white;
				margin: 0;
				padding: 0;
				text-align: center;
			}

		/* FAQ SECTION */
			


@media screen and (min-width: 600px) {
	
}

@media screen and (min-width: 900px) {
	
	.faq1{
		display: none;
	}
	.right{
		display: block;
	}
	.cr2{
		display: none;
	}
	.cr1{
		display: block;
	}

	.footerleft, .middle, .footerright{
		float: left;
		width: 30%;
	}
}